#score {
    text-align: center;
}

#game {
    margin:auto;
    background-image: url("././img/dino-background.png");
    background-size: cover;
    border: 1px solid #000;
    height: 300px;
    width: 600px;
}   

#dino {
width: 75px;
height: 75px;
position: relative;
top: 225px;
background-image: url("././img/dino.png");
background-size: cover;
}

#rock {
    width: 35px;
    height: 35px;
    position: relative;
    top: 190px;
    left: 565px;
    background-image: url("././img/rock.png");
    background-size: cover;
    animation: moveRock 2s linear infinite;
}

@keyframes moveRock {
    0% {left: 565px;}
    100% {left: -35px;}
}